/emacs/.lsp-session-v1
/emacs/.cache
/emacs/.last-package-update-day
/emacs/elpy/
/emacs/forge-database.sqlite
/emacs/projectile.cache
/emacs/package.json
/emacs/package-lock.json
/emacs/node_modules/
/emacs/.dap-breakpoints
/emacs/org-roam.db
/emacs/eshell/
/emacs/ac-comphist.dat
/emacs/.org-id-locations
/emacs/async-bytecomp.log
/emacs/speed-type/
/emacs/forge-database-*.sql
/emacs/*.sqlite
/emacs/projects
/emacs/straight/
.aider*
flycheck_*
/emacs/eln-cache/
/emacs/elgrep-data.el
