.mc-lists.el
auto-save-list
.emacs.desktop
.emacs.desktop.lock
bookmarks
elpa
session*
swank
url/
backups/
private/
tramp
/transient/*
/temp/*
!/temp/README.md
/#*
*~
/local.d/*
!local.d/README.md

.cask/
/projectile-bookmarks.eld
